<section id="footer" class="section bg-gray {% if theme_var('spectre.links-footer') %} extlinkson {% endif %}">
    <section class="container {{ grid_size }}">
    		<p>
          2011-{{ "now"|date("Y") }} &ndash; Brice Boucard
	      </p>
    		<p>
    			<a class="links-ovr" href="/contact">contact</a>&nbsp;|&nbsp;<a class="links-ovr" href="/a-propos">à propos</a>
    		</p>
    </section>
</section>
