<header>
  <div class="container {{ grid_size }}">
    <a id="site_title" href="{{ home_url }}" class="{{ theme_var('header-font-align') }} ">
        {% include 'partials/logo-svg.html.twig' %}
        {{ config.site.title }}
    </a>
      
    {% block navigation %}
      {% include 'partials/navigation.html.twig' %}
    {% endblock %}
  </div>
</header>